.imgCircle {
  border-radius: 50%;
}

.imgCircle {
  width: 160px !important;
  height: 160px !important;
  border-radius: 50%;
  margin: 0 auto !important;
}

.imgBtn {
  margin: 0 auto !important;
  text-align: center !important;
  margin-top: 5px !important;
  width: 170px !important;
}

.active {
  width: 350px !important;
  height: 350px !important;
  border-radius: none !important;
  margin: 50px 0px 0px 120px !important;
}

@media only screen and (max-width: 480px) {
  .imgCircle {
    width: 140px !important;
    height: 140px !important;
  }

  .imgCircle {
    /* display: block;
    position: relative;
    padding-left: 90px !important;
    padding-right: 10px !important;
    padding-top: 10px !important; */
    display: flex;
    flex-direction: column;
  }

  .imgBtn {
    display: flex;
    flex-direction: column;
  }
}

.imgDiv {
  display: block;
  position: relative;
  padding-left: 90px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  /* display: flex;
  flex-direction: row; */
}

/* .flex-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
} */
